.kay-logo {
  width: 701px;
  height: 653px;

  position: absolute;
  left: 30%;
  top: 9%;

  transform: rotate(-8.48deg);
}

.intro {
  position: absolute;
  left: 39%;
  top: 59%;

  font-style: normal;
  font-weight: 500;
  font-size: 50px;

  color: #fff;
}

.kadijah {
  position: absolute;
  left: 40%;
  top: 63%;

  font-style: normal;
  font-weight: 500;
  font-size: 90px;

  color: #000000;
}

.year {
  position: absolute;
  left: 57%;
  top: 60%;

  font-style: normal;
  font-weight: 500;
  font-size: 90px;

  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
